.first-homepage {
  background-color: #541554;
}

.homepage-navbar {
  display: flex;
  align-items: center;
  height: 80px;
}

.homepage-logo > img {
  height: 33px;;
}

.homepage-logo {
  padding-top: 10px;
  display: inline;
}

.homepage-links {
  display: inline;
  padding: 20px;
  padding-top: none;
}

.homepage-links > a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.homepage-navbar-user-auth-links {
  display: flex;
  align-items: center;
} 

.homepage-navbar-user-auth-links > a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.hompage-demo-button {
  background-color: #541554;
  border: 1px;
}

.first-homepage-content > h1 {
  font-size: 65px;
}

.first-homepage-content > h2 {
  font-size: 20px;
}