.workspace {
  
}

.workspace-topbar {
  position: relative;
  width: 99vw;
  height: 5.5vh;
  background-color: #121016;
  border-bottom: 2px solid #d1d2d31a;
}

.workspace-sidebar {
  position: relative;
  height: 92vh;
  background-color: #19171D;
  width: 18vw;
  padding-top: 20px;
  border-right: 2px solid #d1d2d31a;
}

.workspace-sidebar > h1 {
  font-size: 18px;
  color: #D1D2D3;
  font-weight: 700;
  padding-bottom: 17px;
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
  border-bottom: 2px solid #d1d2d31a;
}

.workspace-sidebar > h2 {
  font-size: 15px;
  color: #D1D2D3B3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 7.5px;
}

.workspace-body {
  display: flex;
}

// .workspace-messages-container {
//   position: relative;
// }

.workspace-messages {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 75vh;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 1.75%;
  margin-right: 2.1%;
}

.workspace-messages::-webkit-scrollbar {
  display: none;
}

.workspace-chat-box {
  width: 82vw;
  height: 94.5vh;
  background-color: #1A1D21;
}

.workspace-channels-conversations {
  text-decoration: none;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #D1D2D3B3;;
  font-weight: 300;
}

.navlinks {
  text-decoration: none;
}

.chats {
  padding-left: 15px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
}

.chats:hover {
  background-color: #27242C;;
}

.workspace-message > h2{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: #D1D2D3;
  font-weight: 700;
  padding-bottom: 5px;
}

.workspace-message > p {
  font-size: 15px; 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #D1D2D3;
  padding-bottom: 15px;
}

.text-box {
  height: 13vh;
  background-color: #222529;
  width: 78vw;
  color: #D1D2D3;
  margin-left: 1.75%;
  border-radius: 5px;
}
 
.workspace-chat-box > h2 {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #D1D2D3;
  margin-left: 1.75%;
  margin-top: 1.5%;
  padding-bottom: 20px;
  border-bottom: 2px solid red;
}